= form_for @path do |f|
  -if @path.errors.any?
    #error_explanation
      %h2= "#{pluralize(@path.errors.count, "error")} prohibited this path from being saved:"
      %ul
        - @path.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
