%div{:class=> "formheading"}
  We value your suggestions
%div{:class => "formcontentdiv"}
  %div{:class=>"centralized"}

    =form_for @feed_back do |f|

      #form_elements
        .field
          %div{:class=>"formlabel", :style=>"text-align:right;"}
            = f.label :subject 
            %div{:class=>"helper_text"}
              Subject * 

          %div{:class=>"formlabel"}
            = f.text_field :subject, :class=>"formfield", :autocomplete=>"off"
          %div{:style=>"clear:both;"}

        .field
          %div{:class=>"formlabel", :style=>"text-align:right;"}
            = f.label :email
            %div{:class=>"helper_text"}
              Email

          %div{:class=>"formlabel"}
            = f.text_field :email, :class=>"formfield", :autocomplete=>"off"
          %div{:style=>"clear:both;"}     

        .field
          %div{:class=>"formlabel", :style=>"text-align:right;"}
            = f.label :category
            %div{:class=>"helper_text"}
              Category * 

          %div{:class=>"formlabel"}
            = f.select :category, options_for_select([["Choose one...",nil],["Suggestion",0],["Report bug",1]]), :class=>"formfield", :autocomplete=>"off" 
          %div{:style=>"clear:both;"}  

        .field
          %div{:class=>"formlabel", :style=>"text-align:right;"}
            = f.label :description
            %div{:class=>"helper_text"}
              Description *

          %div{:class=>"formlabel"}
            = f.text_area :description, :class => "formfield", :autocomplete=>"off", :style=> "width:360px;height:100px;"
          %div{:style=>"clear:both;"}


        .field                                                                                                        
          %br
          %br                                                                                                       
          %br
          %br
          %br
          = recaptcha_tags                                                                                             
          %br
          %br
          %br
          %br
          %br                                                                                                       
          %br
          %br                                                                                                       
          %div{:style=>"clear:both;"}

        .field
          = f.hidden_field :user_id, :value => ( current_user ? current_user.id : nil)
          %div{:style=>"clear:both;"}

        .actions
          %div{:class => 'form_button'}
            %br
            = f.submit 'Submit', :class=>"issues_button"
            %br
            %br
          %div{:style=>"helper_text"}
            Fields marked with * are required                                                                         
            %br
            Note: when you report a bug, please specify in details when you found it, where you found it, and how you found it.
          %div{:style=>"clear:both;"}

