   
%div.pageheading
  Let us know what you think.

%div{:class=>"helper_text", :style=>"float:right; width:550px;"}
  %ul
    %li
      Fields marked with * are required.
    %li
      Please be elaborate when reporting a bug. We value your feedback.
            
  
%div{:style=>"clear:both;"}    

%div{:class => "formcontentdiv"}

  %div{:class=>"centralized", :style=>"width:900px;"}    
 
    = form_for @feed_back do |f|
          
      .field
        %div{:class=>"formlabel", :style=>"text-align:right;padding-top:10px; height:35px;"}
          = f.label 'subject *'
        
        %div{:class=>"formlabel"}
          = f.text_field :subject, :class=>"formfield", :autocomplete=>"off"
          %div{:style=>"clear:both;"}
      
      .field
        %div{:class=>"formlabel", :style=>"text-align:right;padding-top:10px; height:35px;"}
          = f.label 'email'
        %div{:class=>"formlabel"}
          = f.text_field :email, :class=>"formfield", :autocomplete=>"off"
        %div{:style=>"clear:both;"}
          
      .field
        %div{:class=>"formlabel", :style=>"text-align:right;padding-top:10px; height:35px;"}
          = f.label 'category *'
        %div{:class=>"formlabel"}
          = f.select :category, options_for_select([["choose one...",nil],["suggestion",0],["report bug",1]]), {}, {:style=>"height:40px; width:214px", :class=>"formfield"}
        %div{:style=>"clear:both;"}
          
      .field
        %div{:class=>"formlabel", :style=>"text-align:right;padding-top:10px; height:35px;"}
          = f.label 'description *'
        %div{:class=>"formlabel", :style=>"height:auto;"}
          = f.text_area :description, :class=>"formfield",:style=>"width:500px;height:200px;"
          %div{:style=>"clear:both;"}
        %div{:style=>"clear:both;"}

      .field
        %div{:class=>"helper_text"}
          = recaptcha_tags
      
      .field
        = f.hidden_field :user_id, :value => ( current_user ? current_user.id : nil)
      
      .actions
        %div{:class=>"form_button"}
          = f.submit 'Submit', :class=>"save_button", :style=>"background-image:none; padding-left:5px;"
        %div{:style=>"clear:both;"}
               
      %div{:style=>"clear:both;"}

#clear{:style => "clear:left;"} 

