= stylesheet_link_tag "vis_style"
= stylesheet_link_tag "game"
= stylesheet_link_tag "jquery.qtip.min"
= stylesheet_link_tag "thickbox"
-#set the size of the canvas to draw on to be the one defined in the controller
:css
  #vis_container {width: #{@default_width+2*@default_border}px; height: #{@default_height+2*@default_border}px;}
  #canvas_container {width: #{@default_width+2*@default_border}px; height: #{@default_height+2*@default_border}px;}

= javascript_include_tag "jquery.qtip.min.js"
= javascript_include_tag "d3.v2.min.js"
= javascript_include_tag "raphael-min-2.0.2.js" #for drawing
= javascript_include_tag "thickbox-compressed.js"

-# specifies the data that we're going to be working with in javascript
:javascript
  #{javascript_graph(@vis.nodes,@vis.edges)}
  #{javascript_correctness(@vis.correct)}
  //var notice_msg = "#{escape_javascript(flash[:notice])}";
= javascript_include_tag "causemap_rjs.js" #the draw code itself
:javascript
  #{load_game_raphael}
= javascript_include_tag "mapvisualization_index.js" #for interaction/ajax stuff
= javascript_include_tag "game.js"

#contentwrapper{:style => "margin-top:0px"}
  .contentmain
    #score_notice
      #score_content
        Your score is: 999
      .closebutton{:style=>"float:right;width:15px;position:relative;top:-10px"}
        %img{:border =>'0', :src=>'/images/system/close.png', :alt=>'close button', :width=>'15', :height=>'15'}
      .clearboth
    #vis_container{:style => "margin-top:0px"}
      #canvas_container
    .clearboth
    #go_buttons
      %button{:id => 'run_button'}
        Run Simulation
      %a{:href => "/documents/samakiarticle.html?keepThis=true&TB_iframe=true&height=300&width=500", :title => "Samaki Rules", :class => "thickbox"}
        %button{:id => 'read_article'}
          Read article
    #sidebar_container
    #interaction{:style => (@verbose ? "" : "display:none")}
    #debug{:style => (@verbose ? "" : "display:none")}
      %b Hello world!

.clearboth

#tmp
