= stylesheet_link_tag "vis_style"
= stylesheet_link_tag "jquery.qtip.min"
-#set the size of the canvas to draw on to be the one defined in the controller
:css
  #vis_container {width: #{@default_width+2*@default_border}px; height: #{@default_height+2*@default_border}px;}
  #canvas_container {width: #{@default_width+2*@default_border}px; height: #{@default_height+2*@default_border}px;}

/= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
/= javascript_include_tag :defaults #make sure we include the jquery we need, I guess
/= javascript_include_tag "jquery_ujs.js"
= javascript_include_tag "jquery.qtip.min.js"
= javascript_include_tag "raphael-min-2.0.2.js" #for drawing

-# specifies the data that we're going to be working with in javascript
:javascript
  #{javascript_graph(@vis.nodes,@vis.edges)}
  //var notice_msg = "#{escape_javascript(flash[:notice])}";
= javascript_include_tag "causemap_rjs.js" #the draw code itself
:javascript
  #{load_raphael(@vis.compact_display)}
= javascript_include_tag "mapvisualization_index.js" #for interaction/ajax stuff

#contentwrapper
  .contentmain
    #vis_container
      / #spinner
      /   = image_tag "system/spinner.gif", :size => "64x64"
      #canvas_container
      .absolute_position
        #modal_container
          .up_pointer_arrow
          #modal_fill
            .btn_close{:title => "Close Window", :style => "margin-top:-30px;margin-right:0px"}
          .down_pointer_arrow
    #sidebar_container.navigation
      #cause_container{:style => "height:"+(@default_height/2).to_s+"px;"}
        #cause_search_container.search_container_appl
          = form_tag({:action => "search_bars"}, {:class=> "issue_search_form", :id=>"vis_cause_search_form", :remote => true, :method => 'get'}) do
            = hidden_field_tag :display_area_id, 'vis_cause_issue_search' #which form is this (for processing)
            = text_field_tag :query, params[:query], :align=>"top", :placeholder => "Search &#8230;".html_safe, :autocomplete=>"off", :class=>"searchfield_appl", :id=>"vis_cause_search_visible_input", :value => (@vis.cause_issue.nil? ? nil : @vis.cause_issue.title)
            = hidden_field_tag :selected_data #what thing we selected
            = hidden_field_tag :cause_id, (@vis.cause_issue.nil? ? nil : @vis.cause_issue.id)
            = hidden_field_tag :effect_id, (@vis.effect_issue.nil? ? nil : @vis.effect_issue.id)
            %input{:type=>"submit", :value=> '', :name => nil, :class=>"search_appl_submit", :title=>"search", :id=>"vis_cause_search_submit_btn"}
            .clearboth
          #vis_cause_issue_search.issue_search{:style=>"display:block;"}
            = render 'issues/issue_search'
        #cause_detail_container{:style=>"margin-top:5px"}
          #cause_detail_fill
            = render(:partial => "issue_modal", :content_type => 'text/html', :locals => {:issue => @vis.cause_issue}) unless @vis.cause_issue.nil?

      #effect_container
        #effect_search_container.search_container_appl
          = form_tag({:action => "search_bars"}, {:class=> "issue_search_form", :id=>"vis_effect_search_form", :remote => true, :method => 'get'}) do
            = hidden_field_tag :display_area_id, 'vis_effect_issue_search' #which form is this (for processing)
            = text_field_tag :query, params[:query], :align=>"top", :placeholder => "Search &#8230;".html_safe, :autocomplete=>"off", :class=>"searchfield_appl", :id=>"vis_effect_search_visible_input", :value => (@vis.effect_issue.nil? ? nil : @vis.effect_issue.title)
            = hidden_field_tag :selected_data #what thing we selected
            = hidden_field_tag :cause_id, (@vis.cause_issue.nil? ? nil : @vis.cause_issue.id)
            = hidden_field_tag :effect_id, (@vis.effect_issue.nil? ? nil : @vis.effect_issue.id)
            %input{:type=>"submit", :value=> '', :name => nil, :class=>"search_appl_submit", :title=>"search", :id=>"vis_effect_search_submit_btn"}
            .clearboth
          #vis_effect_issue_search.issue_search{:style=>"display:block;"}
            = render 'issues/issue_search'
        #effect_detail_container{:style=>"margin-top:5px"}
          #effect_detail_fill
            = render(:partial => "issue_modal", :content_type => 'text/html', :locals => {:issue => @vis.effect_issue}) unless @vis.effect_issue.nil?


      
    .clearboth
    #interaction{:style => (@verbose ? "" : "display:none")}
      #reset_form
        = form_tag({:action => "index", :layout_cmd => 'reset_graph'}, {:remote => true, :method => :get}) do
          #inputs
            = label_tag "Number of Nodes:"
            = number_field_tag "args[node_count]", @default_node_count, :in => 1...100
            %br
            = label_tag "Ratio of Edges:"
            = number_field_tag "args[edge_ratio]", @default_edge_ratio, :min => 0.0, :max => 1.0, :step => 0.01
          #reset
            = submit_tag "Reset Graph"
      #other_buttons
        = button_to "Random Spread", {:action => "index", :layout_cmd => 'place_randomly'}, {:remote => true, :method => :get}
        = button_to "Normalize Graph", {:action => "index", :layout_cmd => 'normalize_graph'}, {:remote => true, :method => :get}
        = button_to "Circle Nodes", {:action => "index", :layout_cmd => 'circle_nodes'}, {:remote => true, :method => :get}
        = button_to "Grid Nodes", {:action => "index", :layout_cmd => 'grid_nodes'}, {:remote => true, :method => :get}
        = button_to "Static Wheel", {:action => "index", :layout_cmd => 'static_wheel_nodes'}, {:remote => true, :method => :get}
        = button_to "Fruchterman Layout", {:action => "index", :layout_cmd => 'fruchterman_reingold'}, {:remote => true, :method => :get}
        / = button_to "Springy Layout", {:action => "index", :layout_cmd => 'springy'}, {:remote => true, :method => :get}
        = button_to "Kamada Layout", {:action => "index", :layout_cmd => 'do_kamada_kawai'}, {:remote => true, :method => :get}
        / = button_to "Remove Edges", {:action => "index", :cmd => 'remove_edges'}, {:remote => true, :method => :get}
        = link_to({:action=>"index", :do=>"goto_issue", :target=>"1"}, {:remote => true, :name => "deforestation"}) do
          testing
      #interact_form
        = form_tag({:action => "index"}, {:id => "clickForm", :remote => true, :method => :get}) do
          = text_field_tag "do"
    #debug{:style => (@verbose ? "" : "display:none")}
      %b Some notes:
      Kamada gives fast and pretty results for connected graphs (remember to normalize afterwards!).
      Springy is good for disconnected graphs, but can be slow depending on initial layout (can also tweak speed parameters if needed).

.clearboth
