- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"
  
= javascript_include_tag "issue_new.js"  
  
- content_for(:title, 'New Relationship')
%div{:id=>"error_container"}
  %div{:style=>"float:right;width:15px;"}
    %a{:href=>'#', :class=>'closebutton'}
      %img{:border =>'0', :src=>'/images/system/close.png', :alt=>'close button', :width=>'15', :height=>'15'}
  %div{:id=>"error"}
    -if @issue.errors.any?
      = @issue.errors.full_messages.join(", ")
  .clearboth 

#contentwrapper
  .contentmain#add_new_issue_page

    // Some whitespace for pagination buttons 
    %div.white_space
    
    // Thumbcontainer
    %div.issue_thumbs_container
      %div.add_new_issue_modal
            
        .title_edit
          // Search text-field     
          %div{:style=>"float:left"}  
            %input#query.searchfield_wiki{:style=>"" ,:placeholder => "Enter Issue name...", :autocomplete=>"off"}

          // Preview Button
          %input{:type=>"button", :id=>"btn_preview", :class=>"discussion_submit", :value=>"Preview",:style=>"margin:0px; margin-left:3px;"} 
            
          // Spinner
          %div{:style=>"float:right; margin:2px 2px -10px -27px; position:relative; z-index:1;", :id=>"wait"}
      
         
          
          //.btn_close{:title => "Close Window"}
          
          .clearboth
        
          %div{:id=>"results", :class=>"result-box"}            
          .clearboth
        %div{:class =>"wikicontent_edit"}
          .image_preview_holder
            .img_prev#image_preview1
              .checkcontainer
                .check_empty
                .check_clicked                     
            .img_prev#image_preview2
              .checkcontainer
                .check_empty
                .check_clicked
            .img_prev#image_preview3
              .checkcontainer
                .check_empty
                .check_clicked
            .clearboth
            /.checkmsg
            /  Select one
                              
            
              
          %div{:id=>"form_container"}
            = form_for Issue.new, :id=>"relationship_form" do |f|
              
              .field  
                = f.hidden_field :wiki_url, :class=>"formfield", :id=>"frm_wiki_url"
                      
              .field                   
                = f.hidden_field :description, :class=>"formfield", :id=>"frm_descr"
                                    
              .field
                = f.hidden_field :short_url, :class=>"formfield", :id=>"frm_img_url"
        
              .field
                = f.hidden_field :title, :class =>"formfield", :id=>"frm_title"
      
              .field
                - if current_user
                  = f.hidden_field :user_id, :class=>"formfield", :id=>"frm_user_id", :value=>current_user.id
      
                      
              .actions
                = f.submit 'Create', :class=>"relationship_intermediate", :name=>"save_issue_rel_button", :id=>"val_collector"
                .clearboth
          .clearboth
          
      .relationship_none_found
        %img.none_found_arrow{:src=>'/images/issues/arrow_left.png'}
        Create the first node of the relationship here          
          
      .clearboth    
          
    .title
      %span#title_holder

    .relation_descr
          
      .rationale_headers
        Wikipedia Description
      .clearboth
      #text_preview
        #text_holder 


#clear{:style => "clear:left;"}