%p
  = form_for Comment.new, :remote => true, :id=>"comment_form" do |f|
    .field  
      = f.hidden_field :relationship_id, :value=>@relationship.id
    .field
      - if current_user
        = f.hidden_field :user_id, :value=>current_user.id 
    .field
      - if current_user      
        - @rel_owner = Digest::MD5.hexdigest(current_user.email).to_s
        %img.comment_gravatar{:src=> "http://www.gravatar.com/avatar/#{@rel_owner}?s=26&d=mm"}
      - else
        %img.comment_gravatar{:src=> "http://www.gravatar.com/avatar?s=26&d=mm"}              
      = f.text_field :content, {:class=>"discussion_input", :placeholder=>"Your commnent...".html_safe, :id=>"com_content_field", :autocomplete=>"off"}              
    .actions
      = f.submit '', :class=>"search_appl_submit", :id=>"comment_collector", :style=>"margin:0px;"
      %div{:style=>"float:left;margin:3px 2px -24px -26px", :id=>"comments_wait"}    
  .clearboth
  
- @relationship.comments.reverse.each do |comment|
  .comment_container
    - if comment.user
      - @submitter_avatar = Digest::MD5.hexdigest(comment.user.email).to_s
      %a{:href=>"/users/#{comment.user.id}"}
        %img.comment_gravatar{:src=> "http://www.gravatar.com/avatar/#{@submitter_avatar}?s=26&d=mm", :border=>0}          
    - else
      %img.comment_gravatar{:src=> "http://www.gravatar.com/avatar?s=26&d=mm"} 
    .comment_text
      = comment.content
      %br
        %span.reference_owner
          - if comment.user
            %a{:href=>"/users/#{comment.user.id}"}>= comment.user.username
          - else
            Anonymous user
        - if comment.user
          %span.reference_owner_reputation        
            %b>= comment.user.reputation
        %span.date_time
          = time_ago_in_words(comment.created_at) + ' ago'
    -if current_user
      - if current_user.id == comment.user_id 
        .reference_delete
          = link_to image_tag('/images/system/close1.png', :width=>"12px", :border=>0), comment, :method => :delete, :remote=>true, :class=>"del-comment"
    .clearboth
