%p
  = form_for Reference.new, :remote => true, :id=>"reference_form" do |f|
    .field  
      = f.hidden_field :relationship_id, :id=>"reference_rel_id", :value=>@relationship.id
    .field
      - if current_user
        = f.hidden_field :user_id, :value=>current_user.id 
    .field
      - if current_user
        - cur_user_options = { :size => 28, :title => current_user.username, :class => "reference_gravatar" }
        = gravatar_for(current_user, cur_user_options)       

      - else
        %img.reference_gravatar#gravatar_none_ref             
      = f.text_field :reference_content, {:class=>"discussion_input", :placeholder=>"Please enter a valid URL &#8230;".html_safe, :id=>"ref_content_field", :autocomplete=>"off"}              
      
    .actions
      = f.submit '', :class=>"search_appl_submit", :id=>"reference_collector", :style=>"margin:0px;"
      %div{:style=>"float:left;margin:3px 2px -24px -26px", :id=>"references_wait"}
          
  .clearboth

- if @notice
  .reference_container
    .reference_error
    .reference_error_text
      %ul.reference_error_list
        - @notice.full_messages.each do |msg|
          %li
            = msg
             
    .clearboth  
- @relationship.references.reverse.each do |reference|
  .reference_container
    - if reference.user
      - submitter_options = { :size => 28, :title => reference.user.username, :class => "reference_gravatar" }
      %a{:href=>"/users/#{reference.user.id}"}
        = gravatar_for(reference.user, submitter_options)
    - else
      %img.reference_gravatar#gravatar_none_ref
      
    .reference_text
      %a{:href=>"#{reference.reference_content}", :target=>"_blank"}>= reference.reference_content
      %br
        %span.reference_owner
          - if reference.user
            %a{:href=>"/users/#{reference.user.id}"}>= reference.user.username
          - else
            Anonymous user
        - if reference.user
          %span.reference_owner_reputation        
            %b>= reference.user.reputation
        %span.date_time
          = time_ago_in_words(reference.created_at) + ' ago'

    -if current_user
      - if current_user.id == reference.user_id 
        .reference_delete
          = link_to "", reference_path(reference), :method => :delete, :remote=>true, :class=>"del-reference"
    .clearboth
