= form_tag "/issues/get_relationship", :id=>"get_relationship_form", :remote=>true, :style=>"display:none;", :method => 'get' do               
  = text_field_tag :rel_id, params[:rel_id], :align=>"top", :id=>"get_relationship_input"
  = hidden_field_tag :sentence, params[:sentence], :align=>"top", :id=>"get_rel_sentence_input"
  = hidden_field_tag :issueid, params[:issueid], :align=>"top", :id=>"get_rel_issueid_input"
  = submit_tag "submit", :name => nil, :id=>"get_relationship_btn"

- if @relationship
  .title
    #title_dynamic_text
      %span#title_issue
        = @rel_issue.title
      %span#title_causality{:style=>"font-size:16px;"}
        = @causal_sentence
      %span#title_causality_hover{:style=>"font-size:16px;"}  
      %span#title_relationship
        = @rel_cause.title
      %span#title_relationship_hover
      %span#title_relationship_ellipsis
        &#8230;  
          
  .rationale_container
    
    .relation_descr_container
      .relation_descr
            
        .rationale_headers
          Relationship
        .clearboth
        // paragraph retrieved from wikipedia page
        %p
          %b
            %span#issue_title_dynamic
              = link_to @rel_issue.title + ':', @rel_issue, :title=>"View this Issue"
           
          %span#issue_descr_dynamic
            = @rel_issue.description.html_safe
          %span#issue_linkout_dynamic
            %img.linkout{:src=>"/images/system/linkout.png"}
          %span#issue_link_dynamic
            %a{:href=>@rel_issue.wiki_url, :target => "_blank"} more on Wikipedia

        %p  
          %b
            %span#relationship_title_dynamic
              = link_to @rel_cause.title + ':', @rel_cause, :title=>"View this Issue"
               
          %span#relationship_descr_dynamic
            = @rel_cause.description.html_safe
          %span#relationship_linkout_dynamic
            %img.linkout{:src=>"/images/system/linkout.png"}
          %span#relationship_link_dynamic
            %a{:href=>@rel_cause.wiki_url, :target => "_blank"} more on Wikipedia


      .relation_discussion
              
        .rationale_headers
          References  
        .clearboth  
 
        #get_references
          = render 'get_references', :relationship => @relationship

      .relation_discussion

        .rationale_headers
          Comments 
        .clearboth

        #get_comments
          = render 'get_comments', :relationship => @relationship
      
      .clearboth
    
    .relation_controls_container            
      .relation_controls
    
        #relation_owner
          - if @relationship.user       
            - @rel_owner = Digest::MD5.hexdigest(@relationship.user.email).to_s
            %a.gravatar_anchor{:href=>"/users/#{@relationship.user.id}"}
              %img{:src=> "http://www.gravatar.com/avatar/#{@rel_owner}?s=35&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
            .gravatar_text
              %span.date_time>= time_ago_in_words(@relationship.created_at) + ' ago'           
              %br
              %a{:href=>"/users/#{@relationship.user.id}"}
                = @relationship.user.username
              .reference_owner_reputation        
                %b
                  = @relationship.user.reputation
                points                
              //%br>= pluralize(@relationship.user.relationships.length(), "causal link")
            .clearboth
          - else
            %img{:src=> "http://www.gravatar.com/avatar?s=35&d=mm", :style=>"margin:0px;float:right", :class=>"gravatar"}
            .gravatar_text  
              %span.date_time>= time_ago_in_words(@relationship.created_at) + ' ago'
              %br>Anonymous user
            .clearboth        
  
        .discussion_submit
          %a.med-relation{:href=>"/mapvisualizations?q=show&r=#{@relationship.id}"}
            Visualize
        
        - @permalink = request.protocol + request.host_with_port + "/issues/" + @rel_issue.id.to_s + '-' + @rel_issue.permalink + '?rel_type=' + @causal_sentence.gsub(" ", "+") + '&rel_id=' + @relationship.id.to_s
        .discussion_submit
          %a.perm-relation{:href=>"#{@permalink}", :target=>"_blank"}
            Go to Permalink
            
        / Uncomment the following to display Permalink 
        /#permalink_display
        /  = @permalink

        - if current_user
          .relationship_delete
            = link_to "Delete Relationship", "../relationships/#{@relationship.id}", :confirm => "Are you sure you want to delete the relationship?", :method => :delete, :remote=>true,:title=>"delete this causal link", :class=>"del-relation"


      .clearboth         
      
      - if current_user  
        .relation_controls

          #get_votes
            = render 'get_votes', :relationship => @relationship
                                  
  
        //.relation_controls 
  
        // Uncomment below if Issue owner needs to displayed even while displaying relationship info!
        /#issue_owner
        /  - if @rel_issue.user       
        /    - @issue_owner = Digest::MD5.hexdigest(@rel_issue.user.email).to_s
        /    %a{:href=>"/users/#{@rel_issue.user.id}", :style=>"text-decoration:none;float:right;margin:0px;"}
        /      %img{:src=> "http://www.gravatar.com/avatar/#{@issue_owner}?s=35&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
        /    .gravatar_text
        /      %span.date_time>= time_ago_in_words(@rel_issue.created_at) + ' ago'           
        /      %br
        /      %a{:href=>"/users/#{@rel_issue.user.id}"}>= @rel_issue.user.username
        /      %br>= pluralize(@rel_issue.user.issues.length(), "issue")
        /    .clearboth
        /  - else
        /    %img{:src=> "http://www.gravatar.com/avatar?s=35&d=mm", :style=>"margin:0px;float:right", :class=>"gravatar"}
        /    .gravatar_text  
        /      %span.date_time>= time_ago_in_words(@rel_issue.created_at) + ' ago'
        /      %br>Anonymous user
        /    .clearboth
  
    
        /.discussion_submit
        /  %a.med-relation{:href=>"/mapvisualizations?q=show&i=#{@rel_issue.id}"}
        /    Visualize Issue
        
        /- if current_user    
        /  .discussion_submit
        /    = link_to "View History", issue_versions_path(@rel_issue), :class=>"his-relation"
  
        /- if current_user
        /  .discussion_submit
        /    .btn_image_edit
        /      Edit Issue image
  
        /  #issue_image_edit
        /    = render 'issue_image_edit'

      .relation_controls#system_generated
        %img.gravatar{:src=> "/images/system/system.png", :style=>"margin:0px;float:right"}
        
        .system_generated_message_top
          This is a 
          .suggested_causality
            suggested causal link.
             
        .clearboth
        
        .system_generated_message
        Please use
        %img.system_generated_img{:src=> "/images/system/button_check.png"}
        or
        %img.system_generated_img{:src=> "/images/system/button_reject.png"}
        buttons above, to accept or reject this suggestion.

    .clearboth
    

- else
  .title
    #title_dynamic_text
      %span#title_issue
        = @issue.title
      %span#title_causality{:style=>"font-size:16px;"}
      %span#title_causality_hover{:style=>"font-size:16px;"}    
      %span#title_relationship
      %span#title_relationship_hover
      %span#title_relationship_ellipsis
        &#8230;  
        
  .rationale_container
    .relation_descr_container
      .relation_descr     
        .rationale_headers
          Wikipedia Description
        .clearboth
        // paragraph retrieved from wikipedia page
        %p
          %b
            %span#issue_title_dynamic
              = link_to @issue.title + ':', @issue, :title=>"View this Issue"
           
          %span#issue_descr_dynamic
            = @issue.description.html_safe
          %span#issue_linkout_dynamic
            %img.linkout{:src=>"/images/system/linkout.png"}
          %span#issue_link_dynamic
            %a{:href=>@issue.wiki_url, :target => "_blank"} more on Wikipedia

        %p  
          %b
            %span#relationship_title_dynamic   
          %span#relationship_descr_dynamic
          %span#relationship_linkout_dynamic            
          %span#relationship_link_dynamic
    
    .relation_controls_container           
      .relation_controls 
  
        #issue_owner
          - if @issue.user       
            - @issue_owner = Digest::MD5.hexdigest(@issue.user.email).to_s
            %a.gravatar_anchor{:href=>"/users/#{@issue.user.id}", :style=>"text-decoration:none;float:right;margin:0px;"}
              %img{:src=> "http://www.gravatar.com/avatar/#{@issue_owner}?s=35&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
            .gravatar_text
              %span.date_time>= time_ago_in_words(@issue.created_at) + ' ago'           
              %br
              %a{:href=>"/users/#{@issue.user.id}"}= @issue.user.username
              .reference_owner_reputation        
                %b
                  = @issue.user.reputation
                points
                  
              //%br>= pluralize(@issue.user.issues.length(), "issue")
            .clearboth
          - else
            %img{:src=> "http://www.gravatar.com/avatar?s=35&d=mm", :style=>"margin:0px;float:right", :class=>"gravatar"}
            .gravatar_text  
              %span.date_time>= time_ago_in_words(@issue.created_at) + ' ago'
              %br>Anonymous user
            .clearboth
    
        .discussion_submit
          %a.med-relation{:href=>"/mapvisualizations?q=show&i=#{@issue.id}"}
            Visualize
        
        - if current_user    
          .discussion_submit
            = link_to "View History", issue_versions_path(@issue), :class=>"his-relation"
  
        - if current_user
          .discussion_submit
            .btn_image_edit
              Edit Issue image
  
          #issue_image_edit
            = render 'issue_image_edit'
       
      .relation_controls#system_generated
        %img.gravatar{:src=> "/images/system/system.png", :style=>"margin:0px;float:right"}
        
        .system_generated_message_top
          This is a 
          .suggested_causality
            suggested causal link.
             
        .clearboth
        
        .system_generated_message
        Please use
        %img.system_generated_img{:src=> "/images/system/button_check.png"}
        or
        %img.system_generated_img{:src=> "/images/system/button_reject.png"}
        buttons above, to accept or reject this suggestion.
        
    .clearboth
    

