%p
  = form_for Comment.new, :remote => true, :id=>"comment_form" do |f|
    .field  
      = f.hidden_field :relationship_id, :value=>@relationship.id
    .field
      - if current_user
        = f.hidden_field :user_id, :value=>current_user.id 
    .field
      - if current_user
        - cur_user_options = { :size => 28, :title => current_user.username, :class => "comment_gravatar" }
        = gravatar_for(current_user, cur_user_options)       

      - else
        %img.comment_gravatar#gravatar_none_ref 
        
      = f.text_field :content, {:class=>"discussion_input", :placeholder=>"Your commnent...".html_safe, :id=>"com_content_field", :autocomplete=>"off"}              
    .actions
      = f.submit '', :class=>"search_appl_submit", :id=>"comment_collector", :style=>"margin:0px;"
      %div{:style=>"float:left;margin:3px 2px -24px -26px", :id=>"comments_wait"}    
  .clearboth
  
- @relationship.comments.reverse.each do |comment|
  .comment_container
    - if comment.user
      - commenter_options = { :size => 28, :title => comment.user.username, :class => "comment_gravatar" }
      %a{:href=>"/users/#{comment.user.id}"}
        = gravatar_for(comment.user, commenter_options)    
    - else
      %img.comment_gravatar#gravatar_none_ref 
    .comment_text
      = comment.content
      %br
        %span.reference_owner
          - if comment.user
            %a{:href=>"/users/#{comment.user.id}"}>= comment.user.username
          - else
            Anonymous user
        - if comment.user
          %span.reference_owner_reputation        
            %b>= comment.user.reputation
        %span.date_time
          = time_ago_in_words(comment.created_at) + ' ago'
    -if current_user
      - if current_user.id == comment.user_id 
        .reference_delete
          = link_to "", comment, :method => :delete, :remote=>true, :class=>"del-comment"
    .clearboth
