.edit_image_modal
  .add_new_relation_arrow
  .image_edit_container_wait
  .image_edit_container 
    .image_edit_option#image_edit_option1
      .checkcontainer
        .check_empty_edit
        .check_clicked_edit        
    .image_edit_option#image_edit_option2
      .checkcontainer
        .check_empty_edit
        .check_clicked_edit        
    .image_edit_option#image_edit_option3
      .checkcontainer
        .check_empty_edit
        .check_clicked_edit        
    .clearboth
    - if @issue
      = form_for @issue, :remote=>true do |f|
        .field
          = f.hidden_field :short_url, :id=>"frm_img_update"
        .action
          = f.submit 'update', :class=>"discussion_submit", :name=>"update_image", :id=>"img_collector"
          .clearboth

    - elsif @rel_issue
      = form_for @rel_issue, :remote=>true do |f|
        .field
          = f.hidden_field :short_url, :id=>"frm_img_update"
        .action
          = f.submit 'update', :class=>"discussion_submit", :name=>"update_image", :id=>"img_collector"
          .clearboth