.issue_thumb_blanket
  %div.issue_thumb_container
      
    %div.main_thumb_title
      = link_to @issue.title, @issue.wiki_url, :title=>"view this issue on Wikipedia", :target=>"_blank"
  
    %div{:class=>"issue_thumb_main", :style=>"background-image:url(#{@issue.short_url})"}
      = link_to "", @issue.wiki_url, :title=>"view this issue on Wikipedia", :target=>"_blank"

  = form_for @issue, :remote=>true do |f|
    .field
      = f.hidden_field :short_url, :id=>"frm_img_update", :value=>"https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcR7Xu3F0lPgw75_hPDS8dmaASUByCijcI53PIw6qPcbTwvE81dbIg"
    .action
      //= f.submit 'update', :class=>"discussion_submit", :name=>"update_image", :id=>"img_collector"