// ** uncomment the following (and comment the subsequest line to get back to the Modal layout 

//#popup_name.popup_block

.add_new_relation_modal
  .add_new_relation_arrow
  .title_edit
    // Search text-field     
    %div{:style=>"float:left"}  
      %input#query.searchfield_wiki{:style=>"" ,:placeholder => "Enter Issue name...", :autocomplete=>"off"}
      
    // Spinner
    %div{:style=>"float:right; margin:2px 2px -10px -27px; position:relative; z-index:1;", :id=>"wait"}

    // Preview Button
    %input{:type=>"button", :id=>"btn_preview", :class=>"discussion_submit", :value=>"Preview",:style=>"margin:0px; margin-left:3px; float:left;"}          
    
    .btn_close{:title => "Close Window"}
    
    .clearboth
  
    %div{:id=>"results", :class=>"result-box"}            
    .clearboth
  %div{:class =>"wikicontent_edit"}
    //#title_modalhead  
    .image_preview_holder
      .img_prev#image_preview1
        .checkcontainer
          .check_empty
          .check_clicked                     
      .img_prev#image_preview2
        .checkcontainer
          .check_empty
          .check_clicked
      .img_prev#image_preview3
        .checkcontainer
          .check_empty
          .check_clicked
      .checkmsg
        Select one
                        
    %div#text_preview
      %div#title_holder
      %div#text_holder  
        
    .clearboth
    
        
    %div{:id=>"form_container"}
      = form_for Issue.new, :id=>"relationship_form", :remote => true do |f|
        
        .field  
          = f.hidden_field :wiki_url, :class=>"formfield", :id=>"frm_wiki_url"
                
        .field                   
          = f.hidden_field :description, :class=>"formfield", :id=>"frm_descr"
                              
        .field
          = f.hidden_field :short_url, :class=>"formfield", :id=>"frm_img_url"
  
        .field
          = f.hidden_field :title, :class =>"formfield", :id=>"frm_title"

        .field
          - if current_user
            = f.hidden_field :user_id, :class=>"formfield", :id=>"frm_user_id", :value=>current_user.id

                
        .actions
          %div{:style=>"float:left;margin:5px 0px -5px 0px;"}
            %form
              %input{:type=>"hidden", :name=>"action_carrier", :id=>"frm_action"}
              %input{:type=>"hidden", :name=>"id_carrier", :id=>"frm_type_id"}
              %input{:type=>"hidden", :name=>"rel_suggestion_id", :id=>"frm_is_suggestion"}

          = f.submit 'Create', :class=>"discussion_submit", :name=>"save_issue_rel_button", :id=>"val_collector"
          .clearboth
          