// *-*-*-*-*-*-*-*-*-*-*-*-*
// Relationship type Choices
// *-*-*-*-*-*-*-*-*-*-*-*-*
%div.causality_types
  %div.causality_toggle_container
    
    %div.relationship_partial_toggle#toggle_effects
      = link_to "causes",{:controller=>"issues", :action=>"show", :rel_type=>"causes"}, :remote=>true
    %div.relationship_partial_toggle#toggle_causes
      = link_to "is caused by",{:controller=>"issues", :action=>"show", :rel_type=>"is caused by"}, :remote=>true
    %div.relationship_partial_toggle#toggle_inhibiteds
      = link_to "reduces",{:controller=>"issues", :action=>"show", :rel_type=>"reduces"}, :remote=>true
    %div.relationship_partial_toggle#toggle_inhibitors
      = link_to "is reduced by",{:controller=>"issues", :action=>"show", :rel_type=>"is reduced by"}, :remote=>true
    %div.relationship_partial_toggle#toggle_subsets
      = link_to "is a superset of",{:controller=>"issues", :action=>"show", :rel_type=>"is a superset of"}, :remote=>true
    %div.relationship_partial_toggle#toggle_supersets
      = link_to "is a subset of ",{:controller=>"issues", :action=>"show", :rel_type=>"is a subset of"}, :remote=>true
       

%div.issue_relationships_container
  
  - if @issue_relations
    - if @issue_relations.length > 0
    
      %div#relation_pagination
        = will_paginate (@issue_relations), :page_links=>false,:style=>"float:right;", :previous_label => '&#9668;', :next_label => '&#9658;', :outer_window =>0, :inner_window => 0, :params => ({:_ => nil, :rel_id=>nil})
      
      - @issue_relations.each do |relation|
        %div.relationship_thumb
          
          = link_to image_tag('/images/system/linkout_issue.png', :border=>0, :width=>20), relation, {:class=>"issue_linkout"} 
          
          %div.relationship_thumb_title
            //= link_to relation.title,{:controller=>"issues", :action=>'get_relationship', :sentence=>@rel_type,:rel_id=>"#{relation.wiki_url}", :issueid=>@issue.id}, :remote=>true
            = link_to relation.title,{:controller=>"issues", :action=>"show", :rel_type=>@rel_type, :rel_id=>"#{relation.wiki_url}", :page=>@page}, :remote=>true
          %div{:class=>"relationship_thumb_main", :style=>"background-image:url(#{relation.short_url})"}
            //= link_to relation.title,{:controller=>"issues", :action=>'get_relationship', :sentence=>@rel_type,:rel_id=>"#{relation.wiki_url}", :issueid=>@issue.id}, :remote=>true
            = link_to relation.title,{:controller=>"issues", :action=>"show", :rel_type=>@rel_type, :rel_id=>"#{relation.wiki_url}", :page=>@page}, :remote=>true 
  
          %span.relationship_id_store
            = relation.wiki_url       

    - if @suggestions.length > 0
      - @suggestions.each do |suggestion|
        
        %div.relationship_thumb.suggestion_thumb
          .issue_linkout.suggestion_accept
            %img{:src=>'/images/system/button_check.png', :width=>"20px"}      
          .issue_linkout.suggestion_reject
            = link_to image_tag('/images/system/button_reject.png', :width=>"20px"), suggestion_path(suggestion,:suggestion => {:status => 'D'}), :method => :put, :remote=>true
          .clearboth
          .relationship_suggestion_title
            = suggestion.title
          .relationship_thumb_suggestion
          %span.suggestion_id_store        
            = suggestion.id
            
    - if !(@suggestions.length + @issue_relations.length > 0)
      .relationship_none_found{:style=>"text-align:right;"}
        No such relationships found. Add new here 
        %img.none_found_arrow{:src=>'/images/issues/arrow_right.png'} 
    
    
    %div.relationship_addnew
      %div.relationship_addnew_title.poplight{:title => "add new", :id=>"#{@add_btn_id}"}
        Add New
                    
      %div.relationship_thumb_addnew.poplight{:title => "add new", :id=>"#{@add_btn_id}"} 
    .clearboth        

  - else
    .relationship_none_found
      %img.none_found_arrow{:src=>'/images/issues/arrow_left.png'}
      Select a relationship type here

.clearboth 
