- if @issue_supersets.length > 0

  %div#superset_pagination
    = will_paginate (@issue_supersets), :page_links=>false, :param_name => 'superset_page',:style=>"float:right;", :previous_label => '&#9668;', :next_label => '&#9658;', :outer_window =>0, :inner_window => 0
  
    %div{:style=>"float:right; margin:2px 15px -12px 0px;", :id=>"supersets_wait"}
  
  %div{:style=>"clear:both;"}  
  %div.relationship_addnew_wait
  - @issue_supersets.each do |superset|
    %div.relationship_thumb
  
      %div.relationship_thumb_title
        = link_to superset.title, superset, :rel => "#{superset.description}"
        
      %div{:class=>"relationship_thumb_main", :style=>"background-image:url(#{superset.short_url})"}
        = link_to superset.title, superset, :rel => "#{superset.description}"

- else
  .relationship_none_found
    No supersets have been identified yet. 

%div.relationship_addnew
  %div.relationship_addnew_title
    %a#add_superset_btn.poplight{:href => "#?w=500", :rel => "popup_name", :title => "add new"}
      Add New
                
  %div.relationship_thumb_addnew
    %a#add_superset_btn.poplight{:href => "#?w=500", :rel => "popup_name", :title => "add new"} 
  
  
        
%div{:style => "clear:both"} 
