- last_id = nil
- if @versions.empty?
	- last_id = Version.last.id + 1
- else
	- last_id = Version.last.id - @versions.last.id + 1
%div{:id=>"data", :more=>last_id}
	- @versions.each do |version|
		- relationship = version.get_object
		- relation = nil
		- id = nil
		- if relationship.issue_id == @issue.id && relationship.relationship_type.nil?
			- relation = 'Cause'
			- id = relationship.cause_id
		- elsif relationship.cause_id == @issue.id && relationship.relationship_type.nil?
			- relation = 'Effect'
			- id = relationship.issue_id 
		- elsif relationship.issue_id == @issue.id && relationship.relationship_type.eql?("I")
			- relation = 'Suppressor'
			- id = relationship.cause_id
		- elsif relationship.cause_id == @issue.id && relationship.relationship_type.eql?("I")
			- relation = 'Consequence'
			- id = relationship.issue_id
		- elsif relationship.issue_id == @issue.id && relationship.relationship_type.eql?("H")
			- relation = 'Superset'
			- id = relationship.cause_id
		- elsif relationship.cause_id == @issue.id && relationship.relationship_type.eql?("H")
			- relation = 'Subset'
			- id = relationship.issue_id
		- if Issue.exists?(id)
			%div{:class=>"version"}
				%div{:style=>"float:left;margin:2px 1px 2px 1px;"}
					/= link_to relation, "", :title=>"View this relationship"
					= relation
					- if version.event.eql?('create')
						%span{:style=>"color:green;"}
							added:
					- elsif version.event.eql?('update')
						%span{:style=>"color:green;"}
							updated:
					- else
						%span{:style=>"color:red;"}
							removed:
					= link_to Issue.find(id).title, issue_path(id), :title=>"View this issue"
				%div{:style=>"float:right;margin:2px 1px 2px 1px;"}
					At:
					/= link_to DateTime.parse(version.created_at.to_s).strftime('%b %d %Y - %R:%S'), issue_snapshot_path(@issue, :at => version.created_at), :title => "View snapshot at this time", :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"
					= DateTime.parse(version.created_at.to_s).strftime('%b %d %Y - %R:%S')
					By: 
					- if version.whodunnit
						= link_to User.find(version.whodunnit).username, user_path(version.whodunnit), :title=>"View user"
					- else
						Unknown
				%div{:style=>"clear:left"}
				%div{:style=>"float:left;margin:2px 1px 2px 1px;"}
					%b
						= version.id.to_s+':'
					- if version.reverted_from
						Reverted from version:
						= version.reverted_from
					- else
						New action
				%div{:style=>"float:right;margin:2px 1px 2px 1px;"}
					- if current_user
						= link_to image_tag('/images/system/reset.png'), restore_version_path(version), {:title=>"Revert this change", :border=>0, :height=>0, :confirm=>"Rollback will revert to the version up to #{DateTime.parse(version.created_at.to_s).strftime('%b %d %Y - %R:%S')} for relationship:\r#{@issue.title} - #{relation}: #{Issue.find(id).title}\r\rContinue?", :class=>"large_icon_box"}
				%div{:style=>"clear:both"}
