- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

- content_for(:title, @issue.title)
= javascript_include_tag "issue_show.js"
 
#contentwrapper

  .contentmain

    // Some whitespace for pagination buttons 
    %div.white_space
    // Container for Issue and its relationships
    %div.issue_thumbs_container
      
      // *-*-*-*-*-*-*-*-*-*-*-*-*
      // *-*-*-  The Issue  -*-*-*
      // *-*-*-*-*-*-*-*-*-*-*-*-*
      %div{:id=>"issue_main"}      
        = render :partial => "issue_main"
              
      // ----------------------
      // Relationship Partial
      // ----------------------
      %div.relationship_partial#selected_rel_type
        = render 'selected_rel_type'
         
      // *-*-*-*-*-*-*-*-*-*-*-
      // Modal Form for Add New
      // *-*-*-*-*-*-*-*-*-*-*-        
      %div{:id=>"modal_form"}      
        = render :partial => "modal"
    
    // *-*-*-*-*-*-*-*-*-*-*-
    // Selected Relationship
    // *-*-*-*-*-*-*-*-*-*-*-     
    %div#get_relationship
      = render 'get_relationship'     
      
    .clearboth                   
              

#clear{:style => "clear:left;"}
        

#confirm_popup
  #confirm_title.formheading{:style=>"text-align:left;color:#434343;padding-top:0px;"}
  .formcontentdiv
    #confirm_wait{:style=>"margin:-42px 0px 0px 0px;float:right;"}  
    #confirm_msg
    #confirm_buttons{:style=>"margin-top:10px; text-align:center"}
      %input#confirm_yes{:type => "button", :value => "Delete", :class=>"discussion_submit", :style=>"float:none;"}
      %input#confirm_cancel{:type => "button", :value => "Cancel", :class=>"discussion_submit", :style=>"float:none;"}

#tool_tip
  .arrow-tooltip
  .contents-tooltip
    /.img-tooltip
    .txt-tooltip
      random text
      /.clearboth    
      
#onetouch_image{:style=>"display:none;"}
#onetouch_text{:style=>"display:none;"}     
