- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

- content_for(:title, @issue.title)
= javascript_include_tag "issue_show.js"
 
#contentwrapper

  .contentmain

    // Some whitespace for pagination buttons 
    %div.white_space
    // Container for Issue and its relationships
    %div.issue_thumbs_container
      
      // *-*-*-*-*-*-*-*-*-*-*-*-*
      // *-*-*-  The Issue  -*-*-*
      // *-*-*-*-*-*-*-*-*-*-*-*-*
      .issue_thumb_blanket
        %div.issue_thumb_container
            
          %div.main_thumb_title
            = link_to @issue.title, @issue.wiki_url, :title=>"view this issue on Wikipedia", :target=>"_blank"
        
          %div{:class=>"issue_thumb_main", :style=>"background-image:url(#{@issue.short_url})"}
            = link_to "", @issue.wiki_url, :title=>"view this issue on Wikipedia", :target=>"_blank"

      // *-*-*-*-*-*-*-*-*-*-*-*-*
      // Relationship type Choices
      // *-*-*-*-*-*-*-*-*-*-*-*-*
      %div.causality_types
        %div.causality_toggle_container
          %div.central_causality_container
            is caused by 
        
          %div.relationship_partial_toggle#toggle_causes{:style=>"display:none;"}
            is caused by
                     
          %div.relationship_partial_toggle#toggle_effects
            causes
             
          %div.relationship_partial_toggle#toggle_inhibitors
            is reduced by
            
          %div.relationship_partial_toggle#toggle_inhibiteds
            reduces
             
          %div.relationship_partial_toggle#toggle_subsets
            is a superset of                 
            
          %div.relationship_partial_toggle#toggle_supersets
            is a subset of  

      // *-*-*-*-*-*-*-*-*-*-*-
      // Relationship container
      // *-*-*-*-*-*-*-*-*-*-*-
      %div.issue_relationships_container
        
        %div.relationship_partial#selected_rel_type
          = render 'selected_rel_type' 

        
        //%div.relationship_partial#causes
        //  = render 'causes'                  
        //%div.relationship_partial#effects
        //  = render 'effects'         
        //%div.relationship_partial#inhibitors
        //  = render 'inhibitors' 
        //%div.relationship_partial#inhibiteds
        //  = render 'inhibiteds'                 
        //%div.relationship_partial#subsets
        //  = render 'subsets' 
        //%div.relationship_partial#supersets
        //  = render 'supersets'           
        // 
      
        
      %div{:style => "clear:both"}

      %div{:id=>"modal_form"}      
        = render :partial => "modal"
    

    %div{:class =>"title"}
      #title_filler_text
        Please select one of the
        %span#title_filler_causality
          Causes
        above to learn more   
      #title_dynamic_text
        %span#title_issue
        %span#title_causality{:style=>"font-size:16px;"}
        %span#title_relationship
      #title_modalhead


    %div.rationale_container{:style=>"display:none;"}
      
      %div{:style=>"float:left;"}
        %div.relation_descr
          
          .rationale_headers
            Relationship
          %div{:style => "clear:both"}
          // paragraph retrieved from wikipedia page
          %p
            %b
              %span#issue_title_dynamic
                = @issue.title + ':'
            %span#issue_descr_dynamic
              = @issue.description
            %img.linkout{:src=>"/images/system/linkout.png"}
            %a{:href=>@issue.wiki_url, :target => "_blank"} more on Wikipedia
  
  
          %p  
            %b
              %span#relation_title_dynamic
            %span#relation_descr_dynamic
  
        %div#rel_references
          = render 'rel_references'
          
      %div.relation_controls{:style=>"float:left; width:154px; border:1px solid #f5f5f5; padding:10px; background:#fcfcfc"} 

        %div.discussion_submit{:style=>"margin-bottom:10px;float:none;"}
          .med-relation
            Add Intermediate
        
        

        %div.discussion_submit{:style=>"float:none;"}
          .perm-relation
            Go to Permalink
        #permalink_display
        

        - if current_user
          %div{:class=>"relationship_delete"}
            %a{"data-confirm" => "are you sure?", "data-title"=>"Delete Causal Link", "data-remote"=>"true", "data-method" => "delete", :href => "", :rel => "nofollow", :title=>"delete this causal link", :class=>"del-relation"} 
              Delete Relationship       
      
  
          
                  
      

      
      %div{:style => "clear:both"}
    
      
      
      %div.relation_discussion{:style=>"display:none;"}
        .rationale_headers
          Discussion
        %div{:style => "clear:both"}  
        
        %textarea.discussion_input
        
        %div.discussion_submit
          Submit
        %div{:style => "clear:both"}
            
      %div{:style => "clear:both"}
      
      
    %div{:class =>"issueblock", :style=>"float:left;width:1050px;"}
    
              
    %div{:style => "clear:both"}  
    - if current_user      
  
      %div{:style=>"float:right; margin-top:20px; margin-left:10px;text-align:center;font-size:12px;"}    
        %div{:class=>"large_icon_box"}
          = link_to image_tag('/images/issues/history.png'), issue_versions_path(@issue), {:title=>"view all changes", :border=>0, :height=>0}
        %div{:style=>"font-weight:normal;"}
          History

      // Retrieve suggestions
              
               

    %div{:class=>"created_by"}
      %span{:style=>"font-size:10px;"}
        Author:
      %br
      
      // The Issue has an Owner  
      - if @issue.user
        %div{:style=>"float:left;"}        
          - @hash = Digest::MD5.hexdigest(@issue.user.email).to_s
          %a{:href=>"/users/#{@issue.user.id}", :style=>"text-decoration:none; "}
            %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=40&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
        %div{:style=>"float:left; margin:5px 0px -5px 3px;"} 
          %div
            %a{:href=>"/users/#{@issue.user.id}"}
              = @issue.user.username
          %div              
            = pluralize(@issue.user.issues.length(), "issue")
        %div{:style=>"clear:both;"}
      - else
        %div{:style=>"float:left;"}
          %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=40&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
        %div{:style=>"float:left; margin:5px 0px -5px 3px;"} 
          %div
            Anonymous
        %div{:style=>"clear:both;"}
      
      %div{:style=>"clear:both;"}                  
              

#clear{:style => "clear:left;"}
        
    


#confirm_popup
  #confirm_title.formheading{:style=>"text-align:left;color:#434343;padding-top:0px;"}
  .formcontentdiv
    #confirm_wait{:style=>"margin:-42px 0px 0px 0px;float:right;"}  
    #confirm_msg
    #confirm_buttons{:style=>"margin-top:10px; text-align:center"}
      %input#confirm_yes{:type => "button", :value => "Delete", :class=>"discussion_submit", :style=>"float:none;"}
      %input#confirm_cancel{:type => "button", :value => "Cancel", :class=>"discussion_submit", :style=>"float:none;"}

#tool_tip
  .arrow-tooltip
  .contents-tooltip
    /.img-tooltip
    .txt-tooltip
      random text
      /%div{:style=>"clear:both"}    
      
#onetouch_image{:style=>"display:none;"}
#onetouch_text{:style=>"display:none;"}     
