- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"
  
 
#contentwrapper

  .contentmain
    %div{:class=>"desc", :style=>"text-align:center;color:#4EB8DB;"}
      %b
        = @description

    %div{:id=>"wikiInfo"}  
      - @toc, @effect  = @issue.get_causes(@issue.wiki_url)

    %div{:class =>"causes"}
      %div{:class => "background", :onselectstart =>"return false;"}
        CAUSES
                 
      %div{:class=> "foreground"}

        - @causes.each do |issue|
          %div{:class => "bubble"}
            %div{:class=>"relation_link"}
              = link_to issue.title, issue_path(issue)
                  
            .clearboth 

        .clearboth

    .clearboth
    %div{:style=>"margin:5px 0px 15px 0px;text-align:center;height:50px; z-index:2; position:relative;"}
    %div{:class=>"arrow", :style=>"margin-top:-70px;"}
    // The issue  
    %div{:class =>"issues"}
              
           
      %div{:class =>"issueblock"}
                
        // Title of the Issue
        %div{:class =>"title"}
          = @issue.title
                
        // Contents retrieved by calling the above method
        %div{:class =>"wikicontent", :style=>"width:500px;float:left"}
                  
          // image link to wikipedia article using image retrived from there
                
          %div{:class=>"imgcontainer"}   
            %a{:href => @issue.wiki_url, :target=>"_blank"}                      
              %img{:src => @issue.short_url, :class=>"wikiimage"}
              
                  
          // paragraph retrieved from wikipedia page
          = @issue.description.html_safe
          /= @toc
                  
                
          .clearboth
               
          %p{:style => "font-size:smaller; padding:0px 10px 0px 10px;"}
            Click
            %b
              = link_to 'here', @issue.wiki_url
            or on the image above to view the Wikipedia article for
            %b
              = @issue.title

          %div{:class=>"panoramio_head"}
            Related Photos       
  
          %div{:class=>"panoramio_photos"}
              
            %iframe{:id=>"panoramio_iframe", :frameborder => "0", :class=>"panoramioframe", :height => "80", :width => "478", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.panoramio.com/wapi/template/list.html?tag=*#{@issue.title}&width=478&height=80&columns=8&rows=1&orientation=horizontal&bgcolor=%2371C6E2"}
        
        %div{:style=>"padding:10px; float:left; margin-top:10px; border:1px solid #4DB8DB;"}
          #map_canvas{:style => "width:298px; "}
            %img{:src=>"/images/system/spinnerblue.gif", :alt=>"spinner", :class=>"result-spinner"}
        
        .clearboth
        
      %div{:class=>"arrow", :style=>"background-image:url('/images/issues/diverge.png'); margin-bottom:-70px;"}            

      %div{:style=>"margin:5px 0px 15px 0px;text-align:center;height:50px; z-index:2; position:relative;"}  
                     
            
    // Effects    
    %div{:class =>"effects"}
      
      %div{:class => "background", :onselectstart =>"return false;"}
        EFFECTS
              
      %div{:class=> "foreground"}




        - @effects.each do |issue|
          - @relation = Relationship.where(:issue_id => issue.id, :cause_id=>@issue.id).select('id').first.id
          -# - @references = Reference.where(:id => @relation).select('reference_content')
          %div{:class=>"bubble"}
            %div{:class=>"relation_link"}
              = link_to issue.title, issue_path(issue)
              

            .clearboth

            /- if current_user

        .clearboth
          
          


    %div{:style=>"float:right; padding-top:20px;margin-top:15px;"}
      
      = link_to "Current", issue_path(@issue), {:title=>"view all changes", :class=>"wiki_button", :style=>"float:right;background-image:none;padding:3px 10px 3px 10px"}
      

    %div{:class=>"created_by"}
      %span{:style=>"font-size:10px;"}
        Author:
      %br
      %div{:style=>"float:left;"}
        - @hash = Digest::MD5.hexdigest(@issue.user.email).to_s
        %a{:href=>"/users/#{@issue.user.id}", :style=>"text-decoration:none; "}
          %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=40&d=mm", :style=>"margin:0px;", :class=>"gravatar"}
      %div{:style=>"float:left; margin-left:3px;"} 
        %div
          %a{:href=>"/users/#{@issue.user.id}"}
            = @issue.user.username
        %div              
          = pluralize(@issue.user.issues.length(), "issue")

      .clearboth        

#clear{:style => "clear:left;"}

%div{:id=>"modal_form"}      
  = render :partial => "modal"
