- content_for(:include_custom_stylesheet) do
	= stylesheet_link_tag "styles"

#contentwrapper
	.contentmain
		%div{:style=>"color: #434343;font-size: 18px;text-align: center;"}
			Revision history for:
			%b				
				= link_to @issue.title, issue_path(@issue), :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"
		-#%div{:id=>"notice"}
			-#= notice
		%div{:class=>"versions"}
		- @versions.each do |version|
			- relationship = version.get_object
			- relation = nil
			- id = nil
			- if relationship.issue_id == @issue.id && relationship.relationship_type.nil?
				- relation = 'Cause'
				- id = relationship.cause_id
			- elsif relationship.cause_id == @issue.id && relationship.relationship_type.nil?
				- relation = 'Effect'
				- id = relationship.issue_id 
			- elsif relationship.issue_id == @issue.id && relationship.relationship_type.eql?("I")
				- relation = 'Suppressor'
				- id = relationship.cause_id
			- elsif relationship.cause_id == @issue.id && relationship.relationship_type.eql?("I")
				- relation = 'Consequence'
				- id = relationship.issue_id
			- elsif relationship.issue_id == @issue.id && relationship.relationship_type.eql?("H")
				- relation = 'Superset'
				- id = relationship.cause_id
			- elsif relationship.cause_id == @issue.id && relationship.relationship_type.eql?("H")
				- relation = 'Subset'
				- id = relationship.issue_id
			- if Issue.exists?(id)
				%div{:class=>"version"}
					%div{:style=>"float:left;margin:2px 1px 2px 1px;"}
						= link_to relation, "", :title=>"View this relationship", :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"
						- if version.event.eql?('create')
							%span{:style=>"color:green;"}
								added:
						- elsif version.event.eql?('update')
							%span{:style=>"color:green;"}
								updated:
						- else
							%span{:style=>"color:red;"}
								removed:
						= link_to Issue.find(id).title, issue_path(id), :title=>"View this issue", :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"
					%div{:style=>"float:right;margin:2px 1px 2px 1px;"}
						At:
						= link_to DateTime.parse(version.created_at.to_s).strftime('%b %d %Y - %R:%S'), issue_snapshot_path(@issue, :at => version.created_at), :title => "View snapshot at this time", :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"
						By: 
						- if version.whodunnit
							= link_to User.find(version.whodunnit).username, user_path(version.whodunnit), :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none", :title=>"View user"
						- else
							Unknown
					%div{:style=>"clear:left"}
					%div{:style=>"float:left;margin:2px 1px 2px 1px;"}
						%b
							= version.id.to_s+':'
						- if version.reverted_from
							Reverted from version:
							= version.reverted_from
						- else
							New action
					%div{:style=>"float:right;margin:2px 1px 2px 1px;"}
						- if current_user
							= link_to "Rollback", restore_version_path(version), :confirm=>"Rollback will revert to the version up to #{DateTime.parse(version.created_at.to_s).strftime('%b %d %Y - %R:%S')} for relationship:\r#{@issue.title} - #{relation}: #{Issue.find(id).title}\r\rContinue?", :title=>"Reset to this change", :style=>"background-image:none;color:#4EB8DB;text-decoration:none;font-weight:bold;margin:0px 5px 0px 5px;font-size:16;"
					%div{:style=>"clear:both"}

		%div{:class=>"pages"}
			= will_paginate @versions
%div{:style=>"clear:both"}
