%p#notice= notice

%p
  %b Issue:
  = @relationship.issue_id
%p
  %b Cause:
  = @relationship.cause_id

= link_to 'Edit', edit_relationship_path(@relationship)
\|
= link_to 'Back', relationships_path
