

%div#activity_pagination{:style=>"margin:5px 0px 0px 0px;"}
  = will_paginate (@activities), :page_links=>false,:param_name => 'activity_page',:style=>"float:right;", :previous_label => '&#9668;', :next_label => '&#9658;', :outer_window =>0, :inner_window => 0

  %div{:style=>"float:right; margin:2px 15px -12px 0px;", :id=>"activities_wait"}
  
  %div.formheading{:style=>"font-size:18px;"}
    = @user.username + "\'s activity log"
    
  .clearboth

%div{:style=>"margin-top:10px;"}
  - @activities.each do |activity|
    - @activity = @user.formatted(activity)

    // When?
    %div.activity_time
      = time_ago_in_words(@activity[:time]) + ' ago' 

    // Score for this activity
    /%div.activity_score
    /  = @activity[:score]
      
    // will display icon according to the action.
    %div.activity_icon{:style=>"background-position:#{@activity[:icon_position]}"}

    // form the sentence describing this activity
    %div.activity_sentence{:title=>(@activity[:action]+" "+@activity[:type]+" "+@activity[:what])}
      %span
        = @activity[:action]
      %span
        = @activity[:type]
      %span  
        = @activity[:what].html_safe
      %span
      
    .clearboth		
		
