- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

%div{:id=>"issues_head"}

  %div{:style=>"margin:25px 0px 15px -10px; float:left;"}
    = will_paginate (@userissues, :previous_label => '&#9668; Prev', :next_label => 'Next &#9658;', :outer_window =>0, :inner_window => 0 )
  %div{:style=>"float:left; margin:18px 0px -15px 10px;", :id=>"issues_wait"}
             
  %div{:style=>"clear:both;"}

- @userissues.each_slice(2) do |slice|
  %div{:class=>"issue_container"}
    %div{:class=>"formheading"}
        
      // Div containing the title and author
      = link_to slice[0].title, slice[0], :title=>"View this Issue"
  
        
    // Div containing the buttons
    %div{:style=>"float:right; padding-top:12px"}
  
      // Only show Edit and Delete if the Issue belongs to current user
      -if current_user
        -if current_user.id == slice[0].user_id    
  
          = link_to 'Delete', slice[0], "data-confirm" => "Are you sure you want to delete the issue #{slice[0].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
  
      // author
        
      - @hash = Digest::MD5.hexdigest(slice[0].user.email).to_s
      %a{:href=>"/users/#{slice[0].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
        %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=17&d=mm", :style=>"margin-bottom:-3px; border:0px"}
      %a{:href=>"/users/#{slice[0].user.id}", :class=>"head_link", :style=>"padding-left:0px; margin-left:0px; background-image:none;", :title=>"view issues by this author"}
        = slice[0].user.username
  
     
    %div{:class=>"formcontentdiv", :style=>"color:#434343;"}
      
      // created at
      %div{:style=>"float:right; margin:-35px 15px -30px 0px;"}
        %span{:class=>"date_time"}
          = time_ago_in_words(slice[0].created_at) + ' ago'      
      %div{:style=>"clear:both;"}      
      
      // Image  
      %div{:class=>"index_img_box", :style=>"float:left;"}
        %a{:href=> slice[0].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank"}
          %img{:src=> slice[0].short_url, :class=>"indeximg", :alt=>"Image not found", :onError=>"this.src='/images/issues/image.png';" }
        
      // Text
      %div{:style=>"float:left; width:843px; text-align:justify;"}
            
        = slice[0].description
          
        %a{:href=> slice[0].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank", :class=>"head_link",:style=>"padding-left:0px; margin-left:0px; background-image:none;"}
          Read more on Wikipedia
        
      %div{:style=>"clear:both"}



  - if !slice[1].nil?  
    %div{:class=>"issue_container"}
      %div{:class=>"formheading"}
        
        = link_to slice[1].title, slice[1], :title=>"View this Issue"
  
      // Div containing the buttons
      %div{:style=>"float:right; padding-top:12px"}
  
        // Only show Edit and Delete if the Issue belongs to current user
        -if current_user
          -if current_user.id == slice[1].user_id    
    
            = link_to 'Delete', slice[1], "data-confirm" => "Are you sure you want to delete the issue #{slice[1].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
    
        // author        
        - @hash = Digest::MD5.hexdigest(slice[1].user.email).to_s
        %a{:href=>"/users/#{slice[1].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
          %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=17&d=mm", :style=>"margin-bottom:-3px; border:0px"}
        %a{:href=>"/users/#{slice[1].user.id}", :class=>"head_link", :style=>"padding-left:0px; margin-left:0px; background-image:none;", :title=>"view issues by this author"}
          = slice[1].user.username
    
       
      %div{:class=>"formcontentdiv", :style=>"color:#434343;"}

        // created at
        %div{:style=>"float:right; margin:-35px 15px -30px 0px;"}
          %span{:class=>"date_time"}
            = time_ago_in_words(slice[1].created_at) + ' ago'
        %div{:style=>"clear:both;"}
  
        // Image
        %div{:class=>"index_img_box", :style=>"float:right;"}
          %a{:href=> slice[1].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank"}
            %img{:src=> slice[1].short_url, :class=>"indeximg", :alt=>"Image not found", :onError=>"this.src='/images/issues/image.png';" }
        // Text
        %div{:style=>"float:right; width:843px; text-align:justify;"}
              
          = slice[1].description
  
          %a{:href=> slice[1].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank", :class=>"head_link",:style=>"padding-left:0px; margin-left:0px; background-image:none;"}
            Read more on Wikipedia
  
        %div{:style=>"clear:both"}

%div{:style=>"margin:25px 0px 15px -10px; float:left;"}
  = will_paginate (@userissues, :previous_label => '&#9668; Prev', :next_label => 'Next &#9658;', :outer_window =>0, :inner_window => 0 )
%div{:style=>"float:left; margin:18px 0px -15px 10px;", :id=>"issues_wait"}

%div{:style=>"clear:both"}

         
