- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

%div{:id=>"issues_head"}

  /%div{:style=>"float:left; margin:15px 0px 0px 15px;"}
  /  - form_tag issues_path, :id=>"search_form", :method => 'get' do 
  /    %div{:class=>"search_button"}
  /      %div{:style=>"float:left;display:table-cell; vertical-align:middle"}
  /        = text_field_tag :search, params[:search], :align=>"top", :placeholder => "Enter search query. . .", :autocomplete=>"off", :class=>"searchfield"
  /      %div{:style=>"float:left;"}
           
  /        = submit_tag "Search", :name => nil, :class=>"srch_button"
  /      %div{:style=>"clear:both"}

  %div{:style=>"float:left;"}
    - @hash = Digest::MD5.hexdigest(@user.email).to_s
    %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=38&d=mm", :class=>"gravatar", :style=>"margin-top:15px"}

  %div{:style=>"float:left; margin:15px 0px 15px 5px;padding-top:4px;"}
    %span{:style => "font: bold 28px 'lucida grande',tahoma,verdana,arial,sans-serif;",:class=>"logo_txt"} 
      =@user.username+"'s"
    %span{:style => "color:#BEBEBE;font: bold 28px 'lucida grande',tahoma,verdana,arial,sans-serif;", :class=>"logo_txt"} Issues

  %div{:style=>"float:right; margin:25px 10px 15px 0px; font: bold 20px 'lucida grande',tahoma,verdana,arial,sans-serif;"}
    %b{:style=>"color:#434343"} Reputation:
    %span{:id=>"reputation", :style=>"color:green;"}
      %b
        = @user.reputation
    -#= link_to "Profile", user_activities_path(@user), {:title=>"view profile", :class=>"wiki_button", :style=>"float:right;background-image:none;padding:3px 10px 3px 10px"}
  %div{:style=>"clear:both"}




%table{:style=>"color:#434343;border: 1px solid #4EB8DB;margin: 10px 0px 20px 0px;width:700px;float:left;border-collapse:collapse;"}
  %tr
    %th{:style=>"border-bottom: 1px solid #4EB8DB;margin-bottom:2px;height:19px;"} Recent Activities
  %tr
    %td
      - if @activities.count > 0
        %div{:style=>"height:200px;overflow:auto;"}
          -@activities.each do |activity|
            %div{:style=>"float:left;"}
              = activity[:action]
              = activity[:type]
              %span{:id=>"type", :style=>"color:#4EB8DB;"}
                = activity[:what]
            - if !activity[:action].include?('deleted')
              - score = "+"+activity[:score].to_s
              %div{:id=>"score", :style=>"color:green;float:right; margin:0px 15px 0px 0px;"}
                = score
            - else
              - score = "-"+activity[:score].to_s
              %div{:id=>"score", :style=>"color:red;float:right; margin:0px 15px 0px 0px;"}
                = score
            %div{:style=>"clear:both;"}
      -else
        None     
  

%table{:style=>"color:#434343;border: 1px solid #4EB8DB;margin: 10px 0px 20px 0px;width:250px;float:right;border-collapse:collapse;"}
  %tr
    %th{:style=>"border-bottom: 1px solid #4EB8DB;margin-bottom:2px;"} Profile
  %tr
    %td
      Total issues created:
      = Version.find(:all, :conditions=>['item_type=? AND whodunnit=?', 'Issue', @user.id]).group_by(&:item_id).count
  %tr
    %td
      Total links created:
      = Version.find(:all, :conditions=>['item_type=? AND whodunnit=?', 'Relationship', @user.id]).group_by(&:item_id).count
  %tr
    %td
      Total references:
      = @user.references.count
%div{:style=>"clear:both"}

-if @user.issues.count > 0
  %div{:style=>"border-top: 2px groove white;margin:10px 0px 10px 0px;"}



- @user.issues.each_slice(2) do |slice|
  %div{:class=>"issue_container"}
    %div{:class=>"formheading"}
        
      // Div containing the title and author
      = link_to slice[0].title, slice[0], :title=>"View this Issue"
  
        
    // Div containing the buttons
    %div{:style=>"float:right; padding-top:12px"}
  
      // Only show Edit and Delete if the Issue belongs to current user
      -if current_user
        -if current_user.id == slice[0].user_id    
  
          = link_to 'Delete', slice[0], "data-confirm" => "Are you sure you want to delete the issue #{slice[0].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
  
      // author
        
      - @hash = Digest::MD5.hexdigest(slice[0].user.email).to_s
      %a{:href=>"/users/#{slice[0].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
        %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=17&d=mm", :style=>"margin-bottom:-3px; border:0px"}
      %a{:href=>"/users/#{slice[0].user.id}", :class=>"head_link", :style=>"padding-left:0px; margin-left:0px; background-image:none;", :title=>"view issues by this author"}
        = slice[0].user.username
  
     
    %div{:class=>"formcontentdiv", :style=>"color:#434343;"}
      // Image  
      %div{:class=>"index_img_box", :style=>"float:left;"}
        %a{:href=> slice[0].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank"}
          %img{:src=> slice[0].short_url, :class=>"indeximg", :alt=>"Image not found", :onError=>"this.src='/images/issues/image.png';" }
        
      // Text
      %div{:style=>"float:left; width:843px; text-align:justify;"}
            
        = slice[0].description
          
        %a{:href=> slice[0].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank", :class=>"head_link",:style=>"padding-left:0px; margin-left:0px; background-image:none;"}
          Read more on Wikipedia
        
      %div{:style=>"clear:both"}



  - if !slice[1].nil?  
    %div{:class=>"issue_container"}
      %div{:class=>"formheading"}
        
        = link_to slice[1].title, slice[1], :title=>"View this Issue"
  
      // Div containing the buttons
      %div{:style=>"float:right; padding-top:12px"}
  
        // Only show Edit and Delete if the Issue belongs to current user
        -if current_user
          -if current_user.id == slice[1].user_id    
    
            = link_to 'Delete', slice[1], "data-confirm" => "Are you sure you want to delete the issue #{slice[1].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
    
        // author        
        - @hash = Digest::MD5.hexdigest(slice[1].user.email).to_s
        %a{:href=>"/users/#{slice[1].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
          %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=17&d=mm", :style=>"margin-bottom:-3px; border:0px"}
        %a{:href=>"/users/#{slice[1].user.id}", :class=>"head_link", :style=>"padding-left:0px; margin-left:0px; background-image:none;", :title=>"view issues by this author"}
          = slice[1].user.username
    
       
      %div{:class=>"formcontentdiv", :style=>"color:#434343;"}
  
        // Image
        %div{:class=>"index_img_box", :style=>"float:right;"}
          %a{:href=> slice[1].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank"}
            %img{:src=> slice[1].short_url, :class=>"indeximg", :alt=>"Image not found", :onError=>"this.src='/images/issues/image.png';" }
        // Text
        %div{:style=>"float:right; width:843px; text-align:justify;"}
              
          = slice[1].description
  
          %a{:href=> slice[1].wiki_url, :title=>"View the Wikipedia article", :target=>"_blank", :class=>"head_link",:style=>"padding-left:0px; margin-left:0px; background-image:none;"}
            Read more on Wikipedia
  
        %div{:style=>"clear:both"}

%div{:style=>"clear:both"}

         
