- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

%div{:id=>"issues_head"}
  - if @userissues.count > 0
    .pageheading{:style=>"float:left; margin:16px 0px 20px -10px;"}
      %div{:class=>"search_container_appl",}
        - form_tag user_path, :id=>"search_form", :method => 'get' do               
          = text_field_tag :search, params[:search], :align=>"top", :placeholder => "Search #{@user.username}'s issues &#8230;".html_safe, :autocomplete=>"off", :class=>"searchfield_appl"
          = submit_tag "", :name => nil, :class=>"search_appl_submit", :title=>"search"
                  

  %div{:style=>"margin:20px 0px 0px 0px; float:right;"}
    = will_paginate (@userissues) , :param_name => 'user_page', :previous_label => '&#9668; Prev', :next_label => 'Next &#9658;', :outer_window =>0, :inner_window => 0
  
  %div{:style=>"float:right; margin:23px 15px -22px 0px;", :id=>"issues_wait"}
             
  .clearboth

- @userissues.each_slice(2)do |slice|
  %div{:class=>"formcontentdiv", :style=>"margin-right:15px;float:left;width:485px;"}

    %div.formheading{:style=>"float:left;"}
      
      // Div containing the title and author
      = link_to slice[0].title, slice[0], :title=>"View this Issue"

    
    %div{:style=>"float:right;padding-top:5px;"}
      // Only show Edit and Delete if the Issue belongs to current user
      -if current_user
        -if current_user.id == slice[0].user_id    
          = link_to 'Delete', slice[0], "data-confirm" => "Are you sure you want to delete the issue #{slice[0].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
    
      // author
      - if slice[0].user
        - @hash = Digest::MD5.hexdigest(slice[0].user.email).to_s
        %a{:href=>"/users/#{slice[0].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
          %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=14&d=mm", :style=>"margin-bottom:-2px; border:0px"}
        %a{:href=>"/users/#{slice[0].user.id}", :class=>"issue-user", :title=>"view issues by this author"}>= slice[0].user.username
      - else
        %img{:src=> "http://www.gravatar.com/avatar/?s=14&d=mm", :style=>"margin-bottom:-2px; border:0px"}
        %span{:class=>"issue-user", :style=>"padding-left:0px; margin-left:0px; background-image:none;"}
          Anonymous

        // created at
      %span{:class=>"date_time"}
      
        =  time_ago_in_words(slice[0].created_at) + ' ago'         
    
    .clearboth

    // Image
    // The corresponding image is set as background of the container div (to attain vertical centering)
    // The link inside the div is 100% high so that it remains clickable. Pheww!  
    %div{:class=>"index_img_box_sqr", :style=>"float:left;background-image:url(#{slice[0].short_url})"}
      = link_to "", slice[0], :title=>"View this Issue"
    
  
    // Text
    %div{:style=>"margin-right:15px"}
      - @description = slice[0].description
      - if @description.length > 200
        - @description = @description[0, 200] + "..."
        = @description.html_safe
      - else
        = @description.html_safe
      %br
      %img.linkout{:src=>"/images/system/linkout.png"}
      %a{:href=> slice[0].wiki_url, :target=>"_blank"}
        Read more on Wikipedia
    
    .clearboth
    
  - if !slice[1].nil?   

    %div{:class=>"formcontentdiv", :style=>"float:left;width:485px;"}
  
      %div.formheading{:style=>"float:left;"}
        
        // Div containing the title and author
        = link_to slice[1].title, slice[1], :title=>"View this Issue"
  
      
      %div{:style=>"float:right;padding-top:5px;"}
        // Only show Edit and Delete if the Issue belongs to current user
        -if current_user
          -if current_user.id == slice[1].user_id    
            = link_to 'Delete', slice[1], "data-confirm" => "Are you sure you want to delete the issue #{slice[1].title}?", "data-title" => "Delete Issue", :method => :delete, :class=>"del-issue", :title=>"Delete this Issue"
      
        // author
        - if slice[1].user
          - @hash = Digest::MD5.hexdigest(slice[1].user.email).to_s
          %a{:href=>"/users/#{slice[1].user.id}", :style=>"text-decoration:none;", :title=>"view issues by this author"}
            %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=14&d=mm", :style=>"margin-bottom:-2px; border:0px"}
          %a{:href=>"/users/#{slice[1].user.id}", :class=>"issue-user", :style=>"padding-left:0px; margin-left:0px; background-image:none;", :title=>"view issues by this author"}>= slice[1].user.username
        - else
          %img{:src=> "http://www.gravatar.com/avatar/?s=14&d=mm", :style=>"margin-bottom:-2px; border:0px"}
          %span{:class=>"issue-user", :style=>"padding-left:0px; margin-left:0px; background-image:none;"}
            Anonymous
  
          // created at
        %span{:class=>"date_time"}
        
          =  time_ago_in_words(slice[1].created_at) + ' ago'         
      
      .clearboth
  
      // Image
      // The corresponding image is set as background of the container div (to attain vertical centering)
      // The link inside the div is 100% high so that it remains clickable. Pheww!  
      %div{:class=>"index_img_box_sqr", :style=>"float:left;background-image:url(#{slice[1].short_url})"}
        = link_to "", slice[1], :title=>"View this Issue"
        
    
      // Text
      %div{:style=>"margin-right:15px"}
        - @description = slice[1].description
        - if @description.length > 200
          - @description = @description[0, 200] + "..."
          = @description.html_safe
        - else
          = @description.html_safe
        %br
        %img.linkout{:src=>"/images/system/linkout.png"}
        %a{:href=> slice[1].wiki_url, :target=>"_blank"}
          Read more on Wikipedia
      
      .clearboth

  .clearboth  

%div{:style=>"margin:20px 0px 5px 0px; float:right;"}
  = will_paginate (@userissues) , :param_name => 'user_page', :previous_label => '&#9668; Prev', :next_label => 'Next &#9658;', :outer_window =>0, :inner_window => 0
%div{:style=>"float:right; margin:22px 15px -22px 0px;", :id=>"issues_wait"}

.clearboth

         
