- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"



- content_for(:title, @user.username+"'s "+"Issues")

#contentwrapper

  .contentmain
    
    .pageheading
      %span{:style=>"color:#4DB8DB;"}>= @user.username 
      //%span> 's contribution

    %div{:style=>"clear:both;"}
      
      
    .profile_stats_container.formcontentdiv
      
      %div{:style=>"float:left; width:360px;"}
        
        %div.pageheading{:style=>"font-size:18px;margin:5px 0px 0px 0px;"}
          Contribution
        %div{:style=>"clear:both;"}    
        %div{:style=>"float:left;"}
          - @hash = Digest::MD5.hexdigest(@user.email).to_s
  
          %a{:href=>"/users/#{@user.id}"}
            %img{:src=> "http://www.gravatar.com/avatar/#{@hash}?s=128&d=mm", :class=>"gravatar"}
  
          %div{:class => "reputation_block"}
            = @user.reputation
          %div{:class => "reputation_block", :style=>"color:#bebebe;font-size:18px;margin-top:5px;"}
            reputation   
    
        %div{:style=>"float:left;padding-top:10px"}
          %div{:class=>"profile_stats_label"}
            Issues created
          %div{:class=>"profile_stats_value"}  
            = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Issue', 'create', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Issues removed
          %div{:class=>"profile_stats_value"}  
            = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Issue', 'destroy', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Current issues
          %div{:class=>"profile_stats_value"}  
            = @user.issues.count
          %div{:class=>"profile_stats_label"}
            Relations connected
          %div{:class=>"profile_stats_value"}  
            = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Relationship', 'create', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Relations deleted
          %div{:class=>"profile_stats_value"}  
            = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Relationship', 'destroy', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Current relations
          %div{:class=>"profile_stats_value"}  
            = @user.relationships.count
          %div{:class=>"profile_stats_label"}
            References
          %div{:class=>"profile_stats_value"}  
            = @user.references.count  
        %div{:style=>"clear:both;"}
      
         
      - if @activities.count > 0
        %div{:id=>"activities", :style=>"float:right;"}         
          = render 'activities'
        /%div{:id=>"more", :style=>"padding:5px 10px; border:1px solid #f5f5f5; font-size:12px; text-align:center; background:#f5f5f5; font-weight:bold;float:right;width:640px;", :title=>"More contributions"} More... 
      
      -else
        %div{:style=>"text-align:center;padding:25px 10px;color:#bebebe; font-weight:bold; width:500px; float:right"}
          No activity log to display.  
  
      %div{:style=>"clear:both;"}

    
    %div{:id=>"userissues"}
      = render 'userissues'

        
#clear{:style => "clear:left;"}

#confirm_popup
  #confirm_title{:class=>"formheading", :style=>"text-align:left;color:#434343;"}
  .formcontentdiv
    #confirm_wait{:style=>"margin:-42px 0px 0px 0px;float:right;background-color:#ffffff;"}  
    #confirm_msg
    #confirm_buttons{:style=>"margin-top:10px; text-align:center"}
      %input#confirm_yes{:type => "button", :value => "Delete", :class=>"wiki_button", :style=>"padding:5px;background-image:none;"}
      %input#confirm_cancel{:type => "button", :value => "Cancel", :class=>"wiki_button", :style=>"padding:5px;background-image:none;"}



%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", :type => "text/javascript"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js", :type => "text/javascript"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js", :type => "text/javascript"}
%script{:type => "text/javascript"}

  // Make sure the DOM is loaded
  $(document).ready(function(){
  
  

  // D I S M I S S    T H E    F L A S H    N O T I C E
  if ($('#notice').html().trim()) {
  $("#notice_container").effect("bounce", { times:3 }, 200);
  $('#notice').css({display : 'block'});
  }
  
  $("#notice_container a.closebutton").click(function(){
  $("#notice_container").slideUp(100);
  });

  // D E L E T E     C O N F I R M A T I O N
  var href_carrier = '';
  var bubble_to_remove = '';
        
  $(".del-issue").live('click', function(e) {
  e.preventDefault();
  var title = $(this).data('title');
  var msg = $(this).data('confirm');
  href_carrier = $(this).attr('href');
  bubble_to_remove = $(this).parents(".issue_container");
  showPopup(title, msg);
  return false;
  });

  $("#confirm_yes").click(function() {
  /$("#confirm_popup").fadeOut('slow');
  $("#confirm_wait").html('<img border="0" src="/images/system/spinner.gif"/>');
  $.ajax({
  type: "DELETE",
  url: href_carrier,
  cache: false,
  success: function(){
  bubble_to_remove.slideUp(400);
  bubble_to_remove = '';
  $("#confirm_msg").html('Issue Deleted!'); 
  $("#confirm_buttons").hide(); 
  $("#confirm_wait").empty();
  $("#confirm_popup").delay(2000).fadeOut('slow', function(){
  $('#fade').delay(2000).remove();
  });
  
  }
  });  
  /location.href = href_carrier;
  });
    
  $("#confirm_cancel").click(function() {
  $('#fade').remove();
  $("#confirm_popup").fadeOut('slow');    
  href_carrier = '';
  });

  

  /$("div#more").attr("segment",2);
  /$("div#more").click(function(){

  /$("#wait_for_more").html('<img src="/images/system/spinner.gif"/>');

  /$.ajax({url: document.location.href, data: {segment: $(this).attr("segment")},success: function(data){
  /$("div#more").attr("segment", parseInt($("div#more").attr("segment"))+1);
  
  /$("#wait_for_more").empty();
  /$("div#more").show();
  /}});

  /return false;
  /});

  });   //  E N D    O F    D O M    L O A D 

  function showPopup(title, msg) {
  $("#confirm_title").html(title);
  $("#confirm_msg").html(msg);
  $("#confirm_buttons").show();
  $('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
  $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer - .css({'filter' : 'alpha(opacity=80)'}) is used to fix the IE Bug on fading transparencies   
  $("#confirm_popup").fadeIn('slow');
  }   
 
