- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"

- content_for(:title, @user.username+"'s "+"Issues")

#contentwrapper

  .contentmain
    
    .pageheading
      %span{:style=>"color:#4DB8DB;"}>= @user.username

    .clearboth
      
    .profile_stats_container.formcontentdiv

      %div{:style=>"float:left; width:360px;"}
        
        %div.formheading{:style=>"font-size:18px;"}
          Contribution
        .clearboth    
        %div{:style=>"float:left;"}
  
          %a{:href=>"https://en.gravatar.com/emails"}
            - gravatar_options = { :size => 100, :title => "change gravatar", :class => "gravatar" }
            = gravatar_for(@user, gravatar_options)
  
          %div{:class => "reputation_block"}
            = @user.reputation
          %div{:class => "reputation_block", :style=>"color:#bebebe;font-size:18px;margin-top:5px;"}
            reputation   
    
        %div{:style=>"float:left;padding-top:10px"}
          %div{:class=>"profile_stats_label"}
            Issues created
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "issues_created" }
              = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Issue', 'create', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Issues removed
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "issues_deleted" }
              = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Issue', 'destroy', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Current issues
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "current_issues" }
              = @user.issues.count
          %div{:class=>"profile_stats_label"}
            Relations connected
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "relations_connected" }
              = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Relationship', 'create', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Relations deleted
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "relations_deleted" }
              = Version.find(:all, :conditions=>['item_type=? AND event=? AND whodunnit=? AND reverted_from IS ?', 'Relationship', 'destroy', @user.id, nil]).map(&:item_id).uniq.count
          %div{:class=>"profile_stats_label"}
            Current relations
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "current_relations" }
              = @user.relationships.count
          %div{:class=>"profile_stats_label"}
            References
          %div{:class=>"profile_stats_value"}  
            %div{ :class => "references" }
              = @user.references.count  
        .clearboth
      
         
      - if @activities.count > 0
        %div{:id=>"activities", :style=>"float:right;"}         
          = render 'activities'
      
      -else
        %div{:style=>"text-align:center;padding:25px 10px;color:#bebebe; font-weight:bold; width:500px; float:right"}
          No activity log to display.  
  
      .clearboth

    
    %div{:id=>"userissues"}
      = render 'userissues'

        
#clear{:style => "clear:left;"}

#confirm_popup
  .formheading#confirm_title{:style=>"text-align:left;color:#434343;padding-top:0px;"}
  .formcontentdiv
    #confirm_wait{:style=>"margin:-42px 0px 0px 0px;float:right;"}  
    #confirm_msg
    #confirm_buttons{:style=>"margin-top:10px; text-align:center"}
      %input#confirm_yes{:type => "button", :value => "Delete", :class=>"discussion_submit", :style=>"float:none;"}
      %input#confirm_cancel{:type => "button", :value => "Cancel", :class=>"discussion_submit", :style=>"float:none;"}


%script{:type => "text/javascript"}

  // Make sure the DOM is loaded
  $(document).ready(function(){

  if ($('#error').html().trim()) {
  $("#error_container").effect("bounce", { times:3 }, 200);
  $('#error').css({display : 'block'});
  }
  
  $("#error_container a.closebutton").click(function(){
  $("#error_container").slideUp(100);
  });

 
  });   //  E N D    O F    D O M    L O A D 

