%h1 Listing references

%table
  %tr
    %th Relationship_Id
    %th User_Id
    %th Reference content
    %th  
    %th
    %th

  - @references.each do |reference|
    %tr
      %td= reference.relationship_id
      %td= reference.user_id
      %td= reference.reference_content
      %td= link_to 'Show', reference
      %td= link_to 'Edit', edit_reference_path(reference)
      %td= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Reference', new_reference_path
