%p#notice= notice

%p
  %b Relationship:
  = @reference.relationship_id
%p
  %b Reference content:
  = @reference.reference_content

= link_to 'Edit', edit_reference_path(@reference)
\|
= link_to 'Back', references_path
