%h1 Listing suggestions

%table
  %tr
    %th Title
    %th Wiki_url
    %th Causality
    %th Status
    %th Issue
    %th
    %th
    %th

  - @suggestions.each do |suggestion|
    %tr
      %td= suggestion.title
      %td= suggestion.wiki_url
      %td= suggestion.causality
      %td= suggestion.status
      %td= suggestion.issue_id
      %td= link_to 'Show', suggestion
      %td= link_to 'Edit', edit_suggestion_path(suggestion)
      %td= link_to 'Destroy', suggestion, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Suggestion', new_suggestion_path
