%p#notice= notice

%p
  %b Title:
  = @suggestion.title
%p
  %b Wiki url:
  = @suggestion.wiki_url
%p
  %b Type:
  = @suggestion.type
%p
  %b Status:
  = @suggestion.status
%p
  %b Issue:
  = @suggestion.issue_id

= link_to 'Edit', edit_suggestion_path(@suggestion)
\|
= link_to 'Back', suggestions_path
