!!!
%html
  
  %head
    %link{:href => "http://code.google.com/apis/maps/documentation/javascript/examples/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/system/dominos_fav.png", :rel => "shortcut icon"}/
    %title
      = content_for?(:title) ? content_for(:title) : 'Causality Project'
    = stylesheet_link_tag "styles"
    = yield :include_custom_stylesheet
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :include_custom_javascript_head
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"    
    
  
  %body
    
    #container{:align => "center"}
      .head
        .headnav
          .logocontainer
            %a{:href=>"/issues", :title=>"Home"}
              %img{:src=>"/images/system/thiscausesthat_logo.png", :style=>"height:24px;"}
          
              
          .navigation{:style=>"float:left;"}
            %div{:class=>"search_container_appl"}
              = form_tag issues_path, :id=>"search_form", :style=>"display:none;", :method => 'get' do               
                = text_field_tag :search, params[:search], :align=>"top", :placeholder => "Search &#8230;".html_safe, :autocomplete=>"off", :class=>"searchfield_appl", :id=>"search_invisible_input"
                = submit_tag "", :name => nil, :class=>"search_appl_submit", :title=>"search"
              
              = form_tag "/issues/auto_complete_search", :id=>"issue_search_form", :method => 'get' do               
                = text_field_tag :query, params[:query], :align=>"top", :placeholder => "Search &#8230;".html_safe, :autocomplete=>"off", :class=>"searchfield_appl", :id=>"search_visible_input"
                %input{:type=>"button", :name => nil, :class=>"search_appl_submit", :title=>"search", :id=>"search_submit_btn"}
              
                .clearboth  
                                    
              %div{:id=>"issue_search"}
                = render 'issues/issue_search'
            
          .navigation
            %div{:id=>"quickaccess"}

              /= link_to "About", :about, :title=>"about Causality Project", :class=>"login_button"

              = link_to "Issues", :issues, :title=>"view all issues", :class=>"login_button", :style=>"background-image:url('/images/system/goto.png');"
                
              = link_to 'New Issue', new_issue_path, :title=>"create new issue", :class=>"login_button", :style=>"background-image:url('/images/system/newgoto.png');" 


              - if current_user

                - @hash = Digest::MD5.hexdigest(current_user.email).to_s

                = link_to image_tag("http://www.gravatar.com/avatar/"+ @hash + "?s=17&d=mm", :border =>0),current_user, :title=>"view your issues", :class=>"nav_gravatar"

                = link_to current_user.username + "\'s issues", current_user, :title=>"view your issues", :class=>"login_button", :style=>"padding-left:0px;margin-left:0px; padding-right:6px;"

                                
                %div.nav_more
                
                  %div.nav_more_click
                    &#x25BC;
                
                  %div.nav_more_expansion
                    
                    // filler
                    %div.white_filler
                    .clearboth 
                      
                    = link_to "Edit profile", edit_user_path(current_user.id)
                    = link_to "Logout", :logout
                    = link_to "Feedback", new_feed_back_path
                
                .clearboth      

              - else
                
                = link_to "Register", new_user_path, :title=>"register as new user", :class=>"login_button_seperator",:style=>"background-image:url('/images/system/user.png');"
                                
                %div.login_main_container{:style=>"float:left;"}
                  .login_form_opener 
                    Login &#x25BC;
                  
                  .clearboth
                  %div.login_form_container
                    .white_filler_big
                    .clearboth 
                    = form_for UserSession.new do |f|
                      #form_elements{:style=>"margin:10px;"}
                      
                        .field
                          %div{:class=>"formlabel_small"}
                            = f.label :username                        
                          = f.text_field :username, :class=>"formfield_small", :autocomplete=>"off"
                        
                        .field
                          %div{:class=>"formlabel_small",:style=>"margin-top:5px;"}
                            = f.label :password  
                          = f.password_field :password, :class=>"formfield_small", :autocomplete=>"off"                          
                        
                        .actions
                          = f.submit 'Login', :class=>"discussion_submit", :style=>"float:left; margin-top:10px"
                        
                          .clearboth
                    
                  .clearboth
               
              .clearboth
                      
          .clearboth  

      #content
        //.filler
     
        = yield
      %div{:id=>"footer"}
        %img{:src=>"/images/system/thiscausesthat_logo_old.png", :style=>"margin-bottom:-0.9px; height:20px;"}
        is a research project by 
        %a{:href=>"http://www.ics.uci.edu/~wmt/socialCodeGroup/", :title=>"Social code group website", :target=>"_blank"}
          Social Code Group 
        at 
        %a{:href=>"http://www.uci.edu/", :title=>"UCI website", :target=>"_blank"}
          UC, Irvine.
        The Site uses 
        %a{:href=>"http://www.mediawiki.org/wiki/API:Main_page", :title=>"MediaWiki API website", :target=>"_blank"}
          MediaWiki,
        %a{:href=>"http://code.google.com/apis/maps/index.html", :title=>"Google Maps API website", :target=>"_blank"}  
          Google Maps
        and
        %a{:href=>"http://www.panoramio.com/api/widget/api.html", :title=>"Panoramio API website", :target=>"_blank"}
          Panoramio APIs
      
      %div{:id=>"notice_partial"}
        = render 'layouts/notice_partial'
       
