!!!
%html
  
  %head
    %link{:href => "http://code.google.com/apis/maps/documentation/javascript/examples/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/system/dominos_fav.png", :rel => "shortcut icon"}/
    %title
      = content_for?(:title) ? content_for(:title) : 'Causality Project'
    = stylesheet_link_tag "styles"
    = stylesheet_link_tag "vis_style"
    = stylesheet_link_tag "jquery.qtip.min"
    = stylesheet_link_tag "game"
    = yield :include_custom_stylesheet
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :include_custom_javascript_head
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"    
    
  
  %body
    
    #container{:align => "center"}

      #content
        //.filler
     
        = yield
      
      %div{:id=>"notice_partial"}
        = render 'layouts/notice_partial'

      %div{:id=>"progress_partial"}
        = render 'layouts/progress_partial'       

      %div{:id=>"tooltip_partial"}
        = render 'layouts/tooltip_partial'